.fixedTopbar {
  position: fixed;
  width: 100%;
  top: 0;
  right: 0;

  z-index: 99;
  background-color: $body-bg;

  .topbar {
    width: 100%;
    background-color: white !important;
  }

  .HorizontalTopbar {
    position: fixed;
    top: 0;
    width: 100%;
    z-index: 2;
  }


}

.contentArea {
  padding-top: $topbarHeight;
  width: calc(100% - 280px);

}

.ddWidth {
  width: 300px;
}

.mega-dropdown {
  position: static;

  .dropdown-menu {
    padding: 30px;
    width: 96%;
    left: -2% !important;
    max-height: 480px;
    top: 11px !important;
    overflow: auto;
  }
}

@include media-breakpoint-up(lg) {

  .logo-space {
    min-width: 245px;
    padding-right: 10px;
  }
  .isMiniSidebar .logo-space {
    min-width: 60px;
  }


}

@include media-breakpoint-down(lg) {
  .contentArea {

    width: calc(100% - 0.5rem);


  }
  .ddWidth {
    width: 100vw;
    max-width: 250px;
  }
}
